p {
	font-family: Gugi;
	margin-left: 1.66%;
	font-size: 23px
	text-transform: uppercase;
	border-bottom: 2px solid black;
	width: 30%;
	padding-bottom: 30px;

}

img	{
	width: 30%;
	float: left;
	margin: 1.66%;

}